[submodule "lib/openag_am2315"]
	path = lib/openag_am2315
	url = https://github.com/OpenAgInitiative/openag_am2315.git
[submodule "lib/openag_peripheral"]
	path = lib/openag_peripheral
	url = https://github.com/OpenAgInitiative/openag_peripheral.git
[submodule "lib/openag_ds18b20"]
	path = lib/openag_ds18b20
	url = https://github.com/OpenAgInitiative/openag_ds18b20.git
[submodule "lib/openag_cban"]
	path = lib/openag_cban
	url = https://github.com/OpenAgInitiative/openag_cban.git
[submodule "lib/OneWire"]
	path = lib/OneWire
	url = https://github.com/OpenAgInitiative/OneWire.git
[submodule "lib/openag_atlas_ph"]
	path = lib/openag_atlas_ph
	url = https://github.com/OpenAgInitiative/openag_atlas_ph.git
